# Python
__pycache__/
*.pyc
.env

# Node.js
node_modules/
dist/
.env
.venv/
venv/
# VSCode

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
